
@media screen and (max-width: 767px){
    .sidebar-card{
        display: none;
        
    }

}

@media screen and (min-width:768px){
    .sidebar-card{
            position: -webkit-sticky;
            position: sticky;
            top: 0;

    }

}

.light{
    color: black;

}
.dark{
    color: white;
}
